{% extends "layout.html" %}
{% block style %}
<style>
    body {
        padding-top: 70px;
    }

    a:hover, a:focus {
        outline: none;
        text-decoration: none;
    }

    .tab .nav-tabs {
        border-bottom: none;
        position: relative;
    }

        .tab .nav-tabs li {
            margin-bottom: 0;
        }

            .tab .nav-tabs li a {
                display: block;
                padding: 15px 20px;
                border: none;
                border-radius: 0;
                background: #fafafa;
                font-size: 17px;
                font-weight: 700;
                color: #732c7b;
                margin-right: 1px;
                text-align: center;
                z-index: 1;
                transition: all 0.3s ease 0s;
            }

                .tab .nav-tabs li.active a,
                .tab .nav-tabs li a:hover {
                    background: #af94be;
                    color: #fff;
                    border: none;
                }

                .tab .nav-tabs li a:after {
                    content: "";
                    width: 100%;
                    border-top: 2px solid #f2f2f2;
                    position: absolute;
                    top: -3px;
                    left: 0;
                    transition: all 0.3s ease 0s;
                }

                .tab .nav-tabs li.active a:after,
                .tab .nav-tabs li a:hover:after {
                    border-top: 2px solid #732c7b;
                }

    .tab .tab-content {
        padding: 20px;
        margin-top: 0;
        border-radius: 0 0 5px 5px;
        font-size: 15px;
        color: #757575;
        line-height: 30px;
    }

        .tab .tab-content h3 {
            font-size: 24px;
            margin-top: 0;
        }

    @media only screen and (max-width: 479px) {
        .tab .nav-tabs li {
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
        }

            .tab .nav-tabs li:last-child {
                margin-bottom: 0;
            }
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">

                    {% for row in HOUSE %}
                    <li role="presentation" id="tab{{loop.index}}">
                        <a href="#Section{{loop.index}}" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-rocket"></i> {{row[0]}}</a>
                    </li>
                    {% endfor %}

                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    {% for row in HOUSE %}
                    <div role="tabpane{{loop.index}}" class="tab-pane fade" id="Section{{loop.index}}">
                        <p>Name：{{UserName}}</p>
                        <p>Address：{{row[1]}}</p>
                        <p>Country：{{row[0]}}</p>
                        <p>Email：{{row[3]}}</p>
                        <p>Tel：{{row[2]}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}

{% block scripts %}
<script>
    $("#tab1").addClass("active");
    $("#Section1").addClass("tab-pane fade active in");

</script>>
{% endblock %}